{% load staticfiles %}
<html>
    <head>
        <title>SAV project</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">      
    </head>
    <body>
        <div class = "header">
            <h1>BCP38 Compliance Dashboard</h1>
        </div>
        <!-- NAVIGATION BAR -->
        <div class="menu-wrap">
            <nav class="menu">
                <ul class="clearfix">
                    <!--<li class="current-item"><a href="http://127.0.0.1:8000/">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/participate">Participate</a></li> -->
                    <li>
                        <a href="http://127.0.0.1:8000/overview">Overview <span class="arrow">&#9660;</span></a>
                        <ul class="sub-menu">
                            <li><a href="http://127.0.0.1:8000/UK">UK</a></li>
                            <li><a href="#">Country2</a></li>
                            <li><a href="#">Country3</a></li>
                            <li><a href="#">Country4</a></li>
                            <li><a href="#">Country5</a></li>
                            <li><a href="#">Country6</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
        <!-- CONTENT -->
        <div class = "content">
            <h1 align="center" style="margin-top: -15px;">IP Spoofing is still a thing!</h1>
            <br>
            <p>Despite more than 20 years of debate, IP Spoofing still remains a viable vector for DDoS attack. IP spoofing is the practice of forging part of the header of Internet packets, alternating the source IP address to conceal sender’s identity or to impersonate another computer system, often with the aim of attacking the victim. After spoofing the victim's IP address, an attacker can redirect there such a large amount of junk internet traffic to saturate its bandwith, therefore denying his Internet services. This type of attack can be massive, like during a 400 Gbps <a href="https://blog.cloudflare.com/technical-details-behind-a-400gbps-ntp-amplification-ddos-attack/" style="color: 159124;">attack to CloudFire</a> in 2014, or as witnessed by security expert Brian Krebs <a href="https://krebsonsecurity.com/2016/09/the-democratization-of-censorship/" style="color: 159124;">on his skin</a> during a 600+ Bgps DDoS attack.</p>
            <p>The aim of this page is to provide information on the netork operators that allow IP spoofing in their netwrok. In particular, we report the measurement of compliance with BCP38 gathered over the years by <a href="https://www.caida.org/projects/spoofer/" style="color: 159124;">CAIDA's Spoofer Project</a>.</p> 

             
            <h3>BCP38: Source Address Validation</h3>
            <p>BCP38 (aka <a href="https://www.ietf.org/rfc/rfc2827.txt" style="color: 159124;">RFC2827</a>) is a Best Common Practice that network operator should implement to ensure Source Address Validation in their network. BCP38 prescribes ingress traffic filtering: network operators should block Internet packets with a spoofed addresss before they enter the public Internet. In other words, network operator should validate the source address of a packet before forwarding it to its destination.</p><p>
            Designed in 2000 to <i>"defeate denial of service attacks which employ IP source address spoofing"</i>, its implementation undergoes economic disincentives: an operator who adopts SAV does not directly protect his network. Rather, he prevents other networks from be attacked with spoofed traffic originated by him.
            </p>
            <p>CAIDA's FAQ</p>
        </div>        
    </body>
</html>