{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>InfoSpoofing</title>
        <!-- links and scripts for the graphs -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">  
        <link rel="stylesheet" href="{% static 'ammap/ammap.css' %}" type="text/css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
        <script src="{% static 'ammap/ammap.js' %}" type="text/javascript"></script>
        <!-- map file should be included after ammap.js -->
        <script src="{% static 'ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>
        <script src="{% static 'ammap/themes/light.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/amcharts.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/pie.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/radar.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/serial.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/plugins/dataloader/dataloader.min.js' %}" type="text/javascript"></script>
<!-- MAP SCRIPT -->
        <script>
            AmCharts.theme = AmCharts.themes.light;
            var map;
            AmCharts.ready(function() {
                map = new AmCharts.AmMap();
                map.colorSteps = 0;
                //load data map ONLY JSON WORKS
                map.dataLoader = {
                    url: "{% static 'csv/map.json' %}",
                       // format: "csv",
                       // delimiter: ",",
                       // useColumnNames: true,
                };
                map.areasSettings = {
                    autoZoom: true,
                    descriptionWindowTop: 10,
                    descriptionWindowRight: 10,
                    rollOverColor:"#2EA93D",
                };
                map.projection = "Equirectangular";
                map.mouseWheelZoomEnabled= false;
                map.backgroundZoomsToTop= false;
                //when click on a country, show information
                map.listeners = [ {
                    "event": "clickMapObject",
                    "method": function( event ) {
                        // WITH LOCAL URL
                        
                        // if (event.mapObject.title=="United Kingdom"){
                        //     // load AS graph in description C
                        //     document.getElementById("descriptionC").innerHTML = '<iframe src="http://127.0.0.1:8000/details_AS_UK" width=100% height=50% frameborder="0"</iframe>';
                        //     // load table in description B
                        //     document.getElementById("descriptionB").innerHTML = '<iframe src="http://127.0.0.1:8000/details_TAB_UK" width=100% height=50% frameborder="0"</iframe>';   
                        // } else if (event.mapObject.title=="Germany"){
                        //     document.getElementById("descriptionC").innerHTML = '<iframe src="http://127.0.0.1:8000/details_AS_DE" width=100% height=50% frameborder="0"</iframe>';
                        //     document.getElementById("descriptionB").innerHTML = '<iframe src="http://127.0.0.1:8000/details_TAB_DE" width=100% height=50% frameborder="0"</iframe>';
                        // }     
                        // URL for pythonanywhere 
                        
                        if (event.mapObject.title=="United Kingdom"){
                            // load AS graph in description C
                            document.getElementById("descriptionC").innerHTML = '<iframe src="http://gg93.pythonanywhere.com/details_AS_UK" width=100% height=50% frameborder="0"</iframe>';
                            // load table in description B
                            document.getElementById("descriptionB").innerHTML = '<iframe src="http://gg93.pythonanywhere.com/details_TAB_UK" width=100% height=50% frameborder="0"</iframe>';   
                        } else if (event.mapObject.title=="Germany"){
                            document.getElementById("descriptionC").innerHTML = '<iframe src="http://gg93.pythonanywhere.com/details_AS_DE" width=100% height=50% frameborder="0"</iframe>';
                            document.getElementById("descriptionB").innerHTML = '<iframe src="http://gg93.pythonanywhere.com/details_TAB_DE" width=100% height=50% frameborder="0"</iframe>';
                            
                        }   
                    }
                } ],
                map.write("mapdiv"); 
            });
        </script>
<!-- COLUMN SCRIPT -->
        <script type="text/javascript">
            var chart;
            AmCharts.ready(function () {
                chart = new AmCharts.AmSerialChart();
                //chart.dataProvider = chartData;
                // Load external CSV
                chart.dataLoader = {
                    url: "{% static 'csv/contrycompare.csv' %}",
                    format: "csv",
                    delimiter: ",",
                    useColumnNames: true,
                };
                chart.categoryField = "country";
                chart.plotAreaBorderAlpha = 0.2;
                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                chart.addValueAxis(valueAxis);
                // GRAPHS
                // COMPLIANT IPv4
                var graph = new AmCharts.AmGraph();
                graph.title = "Compliant IPv4";
                graph.labelText = "[[value]]";
                graph.valueField = "compliantv4";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#4ac959";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>[[title]]:<b>[[value]] prefixes</b></span>";
                chart.addGraph(graph);
                // SPOOFABLE IPv4
                graph = new AmCharts.AmGraph();
                graph.title = "Spoofable IPv4";
                graph.labelText = "[[value]]";
                graph.valueField = "spoofablev4";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#ff7b4c";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>[[title]]:<b>[[value]] prefixes</b></span>";
                chart.addGraph(graph);
                // COMPLIANT IPv6
                graph = new AmCharts.AmGraph();
                graph.title = "Compliant IPv6";
                graph.labelText = "[[value]]";
                graph.valueField = "compliantv6";
                graph.type = "column";
                graph.newStack = true; // this line starts new stack
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#31823a";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>[[title]]:<b>[[value]] prefixes</b></span>";
                chart.addGraph(graph);
                // SPOOFABLE IPv6
                graph = new AmCharts.AmGraph();
                graph.title = "Spoofable IPv6";
                graph.labelText = "[[value]]";
                graph.valueField = "spoofablev6";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#e85c3a";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>[[title]]:<b>[[value]] prefixes</b></span>";
                chart.addGraph(graph);
                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.borderAlpha = 0.2;
                legend.horizontalGap = 10;
                chart.addLegend(legend);
                // WRITE
                chart.write("clusteredbar");
            });
        </script>
    </head>
    <body>
        <div class = "header">
            <h1>InfoSpoofing</h1>
        </div>
        <!-- NAVIGATION BAR -->
        <div class = "nav">
            <ul>
            <!--
            PYTHONANYWHERE    -->
                <li><a class="active" href="http://gg93.pythonanywhere.com/">Overview</a></li>
                <li><a href="http://gg93.pythonanywhere.com/about">About us</a></li> 
            <!-- LOCAL DEBUG 
                <li><a class="active" href="http://127.0.0.1:8000/">Overview</a></li>
                <li><a href="http://127.0.0.1:8000/about">About us</a></li> -->
            </ul>
        </div>   
        <!-- CONTENT-->
        <div class="content"> 
            <h1 align="center" style="margin-top: -15px;">Results overview</h1>
            <br>
            <p>This page reports the results of the measurements of compliance with <a href="https://en.wikipedia.org/wiki/Ingress_filtering" style="color: 159124;">BCP38</a>, a best common practice ISPs should implement to prevent <a href="https://en.wikipedia.org/wiki/IP_address_spoofing" style="color: 159124;">IP spoofing</a> on their network. The displayed data are collected by the Center for Applied Internet Data Analysis (CAIDA), with their <a href="https://www.caida.org/projects/spoofer/" style="color: 159124;">Spoofer Project</a>. We aggregate these measurement on a country level, showing the results of the last six months, in order to </p>
            <div align="center" >
                <div id="mapdiv" style=" width: 90%; height: 50%; background-color:#f2f3f4; border:solid 1px; border-color: #B7B7B7; border-radius: 10px; margin-top:30px;"></div>
            </div>
        </div>
        <!--THIS DIV WILL CONTAIN THE DETAILS AFTER CLICK ON MAP-->
        <div id=external>
            <div id="descriptionC" align="center" style="margin-top:-50px; margin-right: 100px; margin-left: 70px; border:solid 0px; border-color: blue;">
            </div>
        </div>
        <div id=external>
            <div id="descriptionB" align="center" style="margin-top: -20px; margin-right: 100px; margin-left: 75px; border:solid 0px; border-color: red;">
            </div>
        </div>
        <!--THIS DIV CONTAINS THE CLUSTER COLUMN-->
        <div align="center">
            <br>
            <h4>Compliant and Spoofable Prefixes in each country</h4>
            <!--CLUSTER COLUMN  -->
            <div id="clusteredbar" style=" width:80%; height:50%;"></div>
        </div>

        <div class = "footer">
            <br>
            <div>
                <ul>
                    <li style="margin-top: 35px;"><a href="#">What</a></li>
                    <li style="margin-top: 35px;"><a href="#">goes</a></li>
                    <li style="margin-top: 35px;"><a href="#">in the</a></li>
                    <li style="margin-top: 35px;"><a href="#">footer?</a></li>
                    <li style="float:right; margin-right: 50px;"> <a href="#"><img border="0" alt="TUDelft" src="{% static 'TUDelft.png' %}" width="170" height="100"></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>