{% load staticfiles %}
<html>
    <head>


        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>InfoSpoofing</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/National.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">  

        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <script src="{% static 'amcharts/amcharts.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/serial.js' %}" type="text/javascript"></script>
        
        <script src="{% static 'amcharts/plugins/dataloader/dataloader.min.js' %}" type="text/javascript"></script>

        <script>
            AmCharts.addInitHandler(function(chart) {

              // check if export to table is enabled
              if (chart.dataTableId === undefined)
                return;

              // get chart data
              var data = chart.dataProvider;

              // create a table
              var holder = document.getElementById(chart.dataTableId);
              var table = document.createElement("table");
              holder.appendChild(table);
              var tr, td;

              // add first row
              for (var x = 0; x < chart.dataProvider.length; x++) {
                // first row
                if (x == 0) {
                  tr = document.createElement("tr");
                  table.appendChild(tr);
                  td = document.createElement("th");
                  td.innerHTML = chart.categoryAxis.title;
                  tr.appendChild(td);
                  for (var i = 0; i < chart.graphs.length; i++) {
                    td = document.createElement('th');
                    td.innerHTML = chart.graphs[i].title;
                    tr.appendChild(td);
                  }
                }

                // add rows
                tr = document.createElement("tr");
                table.appendChild(tr);
                td = document.createElement("td");
                td.className = "row-title";
                td.innerHTML = chart.dataProvider[x][chart.categoryField];
                tr.appendChild(td);
                for (var i = 0; i < chart.graphs.length; i++) {
                  td = document.createElement('td');
                  td.innerHTML = chart.dataProvider[x][chart.graphs[i].valueField];
                  tr.appendChild(td);
                }
              }

            }, ["serial"]);

            /**
             * Define chart data
             */
            var chartData = [{
              "name": "43754 ASIATECH",
              "year": 43754,
              "spoof": 1,
              "bcp": 0
            }, {
              "name": "41495 FAELIX",
              "year": 41495,
              "spoof": 1,
              "bcp": 0
            }, {
              "name": "8916 PORTFAST",
              "year": 8916,
              "spoof": 2,
              "bcp": 1
            }, {
              "name": "15395 n.a.",
              "year": 15395,
              "spoof": 1,
              "bcp": 0
            }, {
              "name": "20860 IOMART",
              "year": 20860,
              "spoof": 10,
              "bcp": 5
            }, {
              "name": "202939 b5dc",
              "year": 202939,
              "spoof": 1,
              "bcp": 0
            }, {
              "name": "35028 MULTIPLAY",
              "year": 35028,
              "spoof": 1,
              "bcp": 0
            }, {
              "name": "786 JANET",
              "year": 786,
              "spoof": 11,
              "bcp": 29
            }, {
              "name": "8435 n.a.",
              "year": 8435,
              "spoof": 1,
              "bcp": 0
            }, {
              "name": "42004 ULGRP",
              "year": 42004,
              "spoof": 3,
              "bcp": 0
            }, {
              "name": "8468 ENTANET",
              "year": 8468,
              "spoof": 0,
              "bcp": 0
            }, {
              "name": "8676 PRTSYSTEMS",
              "year": 8676,
              "spoof": 1,
              "bcp": 0
            }, {
              "name": "31712 GIGASTREAM",
              "year": 31712,
              "spoof": 6,
              "bcp": 7
            }, {
              "name": "50056 AI-NET",
              "year": 50056,
              "spoof": 8,
              "bcp": 8
            }, {
              "name": "13213 UK2NET",
              "year": 13213,
              "spoof": 1,
              "bcp": 15
            }, {
              "name": "61049 EXASCALE",
              "year": 61049,
              "spoof": 4,
              "bcp": 14
            }, {
              "name": "58188 SHARPSTEAM",
              "year": 58188,
              "spoof": 1,
              "bcp": 0
            }];

            var chart = AmCharts.makeChart("chartdiv", {
              "type": "serial",
              "dataProvider": chartData,
              //chart.dataLoader = {
              //          url: "{% static 'csv/UK.csv' %}",
              //          format: "csv",
              //          delimiter: ",",
              //          useColumnNames: true,
              //          };
              "dataTableId": "chartdata",
              "categoryField": "name",

              "categoryAxis": {
                "gridAlpha": 0.07,
                "axisColor": "#DADADA",
                "startOnAxis": false,
                "title": "ASN",
                "labelRotation" : 45,
              },
              "valueAxes": [{
                "stackType": "regular",
                "gridAlpha": 0.07,
                "title": "Test received"
              }],
              "graphs": [{
                "type": "column",
                "title": "Spoofing",
                "valueField": "spoof",
                "balloonText": "[[value]] spoofing",
                "lineAlpha": 0,
                "fillAlphas": 0.6
              }, /*{
                "type": "column",
                "title": "NAT",
                "valueField": "nat",
                "balloonText": "[[value]] NAT",
                "lineAlpha": 0,
                "fillAlphas": 0.6
              }, */{
                "type": "column",
                "title": "Non Spoofing",
                "valueField": "bcp",
                "fillColors": "#51BE5E",
                "balloonText": "[[value]] non spoofing",
                "lineAlpha": 0,
                "fillAlphas": 0.6
              }],
              "chartCursor": {
                "cursorAlpha": 0
              }
            });
        </script>



           </head>
    <body>
        <div class = "header">
            <h1>InfoSpoofing</h1>
        </div>
        <!-- NAVIGATION BAR -->
        <div class="menu-wrap">
            <nav class="menu">
            <ul class="clearfix">

                    <li><a href="http://127.0.0.1:8000/">Overview</a></li>
                    <li class="current-item"><a href="http://127.0.0.1:8000/UK">UK</a></li>
                    <li><a href="#">NL</a></li>
                    <li><a href="#">CA</a></li>
                    <li><a href="#">IN</a></li>
                    <li><a href="#">DE</a></li>
                    <li><a href="#">AU</a></li>
                    <li><a href="http://127.0.0.1:8000/about">About us</a></li>
                </ul>
            </nav>
            <!--

                    <li><a href="http://gg93.pythonanywhere.com/">Overview</a></li>
                    <li class="current-item"><a href="http://gg93.pythonanywhere.com/UK">UK</a></li>
                    <li><a href="#">NL</a></li>
                    <li><a href="#">CA</a></li>
                    <li><a href="#">IN</a></li>
                    <li><a href="#">DE</a></li>
                    <li><a href="#">AU</a></li>
                    <li><a href="http://gg93.pythonanywhere.com/about">About us</a></li>
                </ul>
            </nav>
          -->
        </div>
        <!-- CONTENT -->
        <div class = "content">
            <h1 align="center" style="margin-top: -15px;">United Kingdom Result Page</h1>
            <br>
            <p>We collected 7024 tests in the United Kingdom, covering 136 Autonomous Systems. Of these, 17 (12,5%) have spoofable prefixes and can be exploited during DDoS attacks. On this page you will find detailed information on these ASes.</p>
            <div id="chartdiv" style=" width:100%;"></div>                   
            <div id="chartdata" style=" width:100%;"></div>                  

        </div>

        </body>
</html>